body{
    font-family: cursive;
    background-color: rgba(184, 236, 200, 0.897);
}

.header_div{
    color: rgba(130, 145, 142, 0.349);
}

.header_div p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:black;
    letter-spacing: 2px;
    font-size: 15px;
    font-weight: bold;
}

.main_div button{
    font-family:'Times New Roman', Times, serif;
    margin-top: 30px;
    width:130px;
    font-weight: bold;
    letter-spacing: 3px;
}

.copy_rigth_footer{
    position: fixed;
    color: rgb(106, 115, 165);
    bottom: 0;
    width: 100%;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(80, 76, 78);
}